.accomodation-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accomodation-page .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.accomodation-page .infos__global {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.accomodation-page .infos__main > h1 {
    font-size: 36px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.accomodation-page .infos__main > p {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
}

.accomodation-page .infos__tags {
    display: flex;
    align-self: flex-start;
    gap: 15px;
    max-width: 100%;
    flex-wrap: wrap;
}

.accomodation-page .infos__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.accomodation-page .dropdowns {
    display: flex;
    width: 100%;
    gap: 50px;
}

.accomodation-page .dropdowns > * {
    flex: 1;
}

@media (max-width: 900px) {
    .infos {
        flex-direction: column;
    }

    .accomodation-page .infos__main > h1 {
        font-size: 18px;
    }

    .accomodation-page .infos__main p {
        font-size: 14px;
    }

    .accomodation-page .dropdowns {
        flex-direction: column;
        gap: 25px;
    }

    .accomodation-page .infos__details {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}