.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    height: 68px;
}

.navbar__links {
    display: flex;
    gap: 57px;
}

.navbar__link {
    font-size: 24px;
}

.navbar_current {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .navbar__logo {
        height: 47px;
    }

    .navbar__links {
        display: flex;
        gap: 26px;
    }

    .navbar__links > a {
        font-size: 12px;
    }
}
