.gallery {
    display: flex;
    justify-content: center;
}

.gallery__content {
    background-color: var(--gray-color);
    border-radius: 25px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

@media (max-width: 900px) {
    .gallery__content {
        background: none;
        padding: 0;
        gap: 27px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery__content > * {
        width: 100%;
    }
}